*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

    #topbar{
    background: #707070;
    height: 50px;
    color: #fff;
    padding: 0rem;
}

.contact-info a svg{
    margin-right: 12px;
}